.wavy-divider {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 0;
    /* Removes extra vertical space */
    margin: 0;
    padding: 0;
}
.wave-divider svg {
    display: block;
    width: 100%;
    height: 100%;
}